<!DOCTYPE html>
<html>
    <head>
        <title>GeoCal</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <header class="text-center">
            <h3>File untuk:</h3>
            <h4>{{ filename }}</h4>
        </header>
        <main>
            <div class="container text-center">
                <div id='chart' class='chart'></div>
                <br>
                <div id="tabel"></div>
            </div>
        </main>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script type='text/javascript'>
            var graphs = {{graphJSON | safe}}

            var pdata = []
            var vdata = []
            var adata = []
            var sens  = []

            var volt = {{ tegangan }}
            var freq = {{ frekuensi }}

            var tabel = `
            <table class="table table-striped">
                <thead class="table-light">
                    <tr>
                        <th>Puncak</th>
                        <th>Lembah</th>
                        <th>Amplitudo Total</th>
                        <th>Sensitifitas</th>
                    </tr>
                </thead>
                <tbody>
            `

            Plotly.plot('chart',graphs,{})

            {%for i in range(0, 4)%}
                pdata.push({{ pdata[i] }})
                vdata.push({{ -vdata[i] }})
            {%endfor%}

            for(var i=0; i<4; i++){
                adata.push(vdata[i]+pdata[i])
                sens.push(0.00232889572086837*freq*(adata[i]/volt))

                tabel += `
                <tr>
                  <td>${pdata[i]}</td>
                  <td>${vdata[i]}</td>
                  <td>${adata[i]}</td>
                  <td>${sens[i]}</td>
                </tr>
                `
            }
            tabel += `
            </tbody>
            </table>
            `
            document.getElementById('tabel').innerHTML = tabel
        </script>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
    </body>
</html>